# ===============================
# Python
# ===============================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
env/
.venv/

# ===============================
# Database
# ===============================

database/users.db
*.db

# ===============================
# Streamlit
# ===============================

.streamlit/

# ===============================
# Environment Variables
# ===============================

.env

# ===============================
# Logs
# ===============================

*.log

# ===============================
# Jupyter Notebook
# ===============================

.ipynb_checkpoints/

# ===============================
# OS Files
# ===============================

.DS_Store
Thumbs.db

# ===============================
# IDE Files
# ===============================

.vscode/
.idea/

# ===============================
# Package / Build Outputs
# ===============================
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

